<a href="https://colab.research.google.com/github/JLuceroVasquez/challenge-telecom-x-latam/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desaf铆o TelecomX
La empresa TelecomX enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la p茅rdida de clientes.

En este desaf铆o se recopil贸, proces贸 y analiz贸 los datos, utilizando Python y sus principales bibliotecas para extraer informaci贸n valiosa. A partir del an谩lisis, la empresa podr谩 realizar modelos predictivos y desarrollar estrategias para reducir la evasi贸n.

In [1]:
#Se importan los requisitos
import requests #Para leer los datos del API.
import json #Para cargar los datos del API como una lista de diccionario.
import pandas as pd #Para cargar los datos del API en una dataframe de Pandas.
import numpy as np #Para configurar el tipo de datos en columnas.
import matplotlib.pyplot as plt #Para graficar los diagramas de dispersi贸n y l铆nea de tendencia.
import seaborn as sns #Para graficar los diagramas de boxplot y pointplot.
import plotly.express as px #Para graficar los diagramas de l铆neas y barras.

## Extracci贸n

In [2]:
#Se almacena la direcci贸n URL de la API en una variable de alcance global.
url = 'https://github.com/ingridcristh/challenge2-data-science-LATAM/raw/refs/heads/main/TelecomX_Data.json'

#Cargamos la consulta a la API en la variable datos_churn.
datos_churn = requests.get(url)
type(datos_churn)

requests.models.Response

In [3]:
#Convertimos los datos de la consulta en texto con el m茅todo text.
#Almacenamos los datos leidos como texto en la variable resultado.
resultado = json.loads(datos_churn.text)
#La API transmite los datos en una lista de diccionario, que hemos cargado en la variable resultado.
type(resultado)

list

In [4]:
#Convertimos los datos de la lista de diccionario en un dataframe con la funci贸n pd.DataFrame().
df = pd.DataFrame(resultado)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [5]:
#Usamos el m茅todo pd.json_normalize para convertir los datos anidados en columnas.
df_plano = pd.json_normalize(resultado)
df_plano.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## Transformaci贸n

###Conoce el conjunto de datos
Se encontr贸 que ninguna columna tiene valores nulos. Y se cambi贸 el nombre de las columnas para que coincidan con el diccionario de datos.

In [6]:
#Se consulta la cantidad de registros no nulos y el tipo de datos de cada columna.
df_plano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [7]:
#Se renombran las columnas para estar alineados al diccionario de datos.
dict_columnas = {'customer.gender':'gender', 'customer.SeniorCitizen':'SeniorCitizen'
                 ,'customer.Partner':'Partner', 'customer.Dependents':'Dependents',
                 'customer.tenure':'tenure', 'phone.PhoneService':'PhoneService',
                 'phone.MultipleLines':'MultipleLines', 'internet.InternetService':'InternetService',
                 'internet.OnlineSecurity':'OnlineSecurity', 'internet.OnlineBackup':'OnlineBackup',
                 'internet.DeviceProtection':'DeviceProtection', 'internet.TechSupport':'TechSupport',
                 'internet.StreamingTV':'StreamingTV', 'internet.StreamingMovies':'StreamingMovies',
                 'account.Contract':'Contract', 'account.PaperlessBilling':'PaperlessBilling',
                 'account.PaymentMethod':'PaymentMethod', 'account.Charges.Monthly':'Charges.Monthly',
                 'account.Charges.Total':'Charges.Total'}

df_plano.rename(dict_columnas, axis=1, inplace=True)
df_plano.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

###Comprobaci贸n de incoherencia en los datos
En esta etapa se prest贸 atenci贸n a valores nulos, ausentes, duplicados, errores de formato e inconsistencias en las categor铆as. Aunque no hay valores duplicados y no hay valores nulos, se encontraron las siguientes incoherencias:
- **Columnas**: Los nombres tienen mayusculas, min煤sculas y puntos.
- **`Churn`**: Tiene 224 registros con valores ausentes.
- **`Charges.Total`**: Tiene 11 registros con valores ausentes. Tambi茅n tiene error de formato. Debe ser de tipo float.

Adem谩s, para facilitar el procesamiento matem谩tico y comprensi贸n de la informaci贸n, se realiz贸:
- **Traducci贸n**: A espa帽ol de las columnas `gender`, `PaymentMethod` y `Contract`.
- **Cambio del tipo de dato**: A bool de las columnas `SeniorCitizen`, `Partner`, `Dependents`, `PhoneService`, `MultipleLines`, `OnlineSecurity`, `OnlineBackup`, `DeviceProtection`, `TechSupport`,` StreamingTV`, `StreamingMovies` y `PaperlessBilling`.

####Valores 煤nicos en cada columna

In [8]:
#Se consulta los valores 煤nicos en cada columna, y sin son menores de 10 se muestran.
for columna in df_plano.columns:
  valores = df_plano[columna].unique()
  cantidad = len(valores)
  print(f'La columna "{columna}" tiene {cantidad} valores 煤nicos.')
  if cantidad < 10:
    print(valores)
    print('-'*50)

La columna "customerID" tiene 7267 valores 煤nicos.
La columna "Churn" tiene 3 valores 煤nicos.
['No' 'Yes' '']
--------------------------------------------------
La columna "gender" tiene 2 valores 煤nicos.
['Female' 'Male']
--------------------------------------------------
La columna "SeniorCitizen" tiene 2 valores 煤nicos.
[0 1]
--------------------------------------------------
La columna "Partner" tiene 2 valores 煤nicos.
['Yes' 'No']
--------------------------------------------------
La columna "Dependents" tiene 2 valores 煤nicos.
['Yes' 'No']
--------------------------------------------------
La columna "tenure" tiene 73 valores 煤nicos.
La columna "PhoneService" tiene 2 valores 煤nicos.
['Yes' 'No']
--------------------------------------------------
La columna "MultipleLines" tiene 3 valores 煤nicos.
['No' 'Yes' 'No phone service']
--------------------------------------------------
La columna "InternetService" tiene 3 valores 煤nicos.
['DSL' 'Fiber optic' 'No']
--------------------------------------------------
La columna "OnlineSecurity" tiene 3 valores 煤nicos.
['No' 'Yes' 'No internet service']
--------------------------------------------------
La columna "OnlineBackup" tiene 3 valores 煤nicos.
['Yes' 'No' 'No internet service']
--------------------------------------------------
La columna "DeviceProtection" tiene 3 valores 煤nicos.
['No' 'Yes' 'No internet service']
--------------------------------------------------
La columna "TechSupport" tiene 3 valores 煤nicos.
['Yes' 'No' 'No internet service']
--------------------------------------------------
La columna "StreamingTV" tiene 3 valores 煤nicos.
['Yes' 'No' 'No internet service']
--------------------------------------------------
La columna "StreamingMovies" tiene 3 valores 煤nicos.
['No' 'Yes' 'No internet service']
--------------------------------------------------
La columna "Contract" tiene 3 valores 煤nicos.
['One year' 'Month-to-month' 'Two year']
--------------------------------------------------
La columna "PaperlessBilling" tiene 2 valores 煤nicos.
['Yes' 'No']
--------------------------------------------------
La columna "PaymentMethod" tiene 4 valores 煤nicos.
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
--------------------------------------------------
La columna "Charges.Monthly" tiene 1585 valores 煤nicos.
La columna "Charges.Total" tiene 6531 valores 煤nicos.

####Registros nulos

In [9]:
#Se imprime la cantidad de registros nulos.
print(f'Cantidad de registros nulos:\n{df_plano.isnull().sum()}')

Cantidad de registros nulos:
customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

####Registros duplicados

In [10]:
#Se imprime la cantidad de registros duplicados.
print('La cantidad de registros duplicados son:',df_plano.duplicated().sum())

La cantidad de registros duplicados son: 0

####Registros vac铆os

In [11]:
#Se calcula la cantidad de registros vac铆os por columna.
'''
Se elimina los espacios vac铆os al inicio y final de cada valor de la columna.
Previamente se convierten los valores a string para poder aplicar el .str y
consecuentemente el .strip().
Lo anterior devuelve una serie de Pandas con valores booleanos, donde True
coincide con celdas vac铆as y que al aplicarse el m茅todo.sum() se suman como 1.
Como resultado, se obtiene una serie cuyos 铆ndices son el nombre de columnas y
los valores son la cantidad de celdas vac铆as.
'''
df_plano.apply(lambda x: x.astype(str).str.strip()=='').sum()

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total        11
dtype: int64

###Manejo de inconsistencias
- **Columnas**: Todos los nombres est谩n en min煤sculas y separados por guiones bajos.
- **`Churn`**: No tiene registros con valores ausentes.
- **`Charges.Total`**: Es de tipo float, teniendo como valor NaN en los registros donde hubieron valores ausentes.

####Nombres de columnas

In [12]:
#Se escriben los nombres de las columnas en min煤sculas y con guiones bajos en lugar de espacios.
df_plano.columns = df_plano.columns.str.lower().str.replace('.', '_')
df_plano.columns

Index(['customerid', 'churn', 'gender', 'seniorcitizen', 'partner',
       'dependents', 'tenure', 'phoneservice', 'multiplelines',
       'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection',
       'techsupport', 'streamingtv', 'streamingmovies', 'contract',
       'paperlessbilling', 'paymentmethod', 'charges_monthly',
       'charges_total'],
      dtype='object')

####Columna **`Churn`**

In [13]:
#Se eliminan los registros con valores vac铆os en Churn mediante indexaci贸n booleana.
df_plano = df_plano[df_plano.churn !='']
#Se consulta la cantidad de registros seg煤n el valor en la columna churn.
df_plano.churn.value_counts()

churn
No     5174
Yes    1869
Name: count, dtype: int64

####Columna **`Charges.Total`**

In [14]:
#En la etapa anterior, se conoci贸 que hay 11 registros vac铆os.
#Se eliminan espacios al inicio y final de cada registro.
df_plano['charges_total'].apply(lambda x: x.strip())

0         593.3
1         542.4
2        280.85
3       1237.85
4         267.4
         ...
7262      742.9
7263     1873.7
7264      92.75
7265    4627.65
7266     3707.6
Name: charges_total, Length: 7043, dtype: object

In [15]:
#Se corrobora cuantos registros de la columna contienen caracteres especiales o est谩n vac铆os.
'''
Se utiliza dos condiciones en una sola expresi贸n regular:

  - [^\d.]
    para identificar caract茅res que no sean n煤meros o 1 punto.

  - (?=(?:.*\\.){2,})
    para identificar la presencia m煤ltiples puntos.

  - ^$
    para identificar si el registro est谩 vac铆o.
'''
regex = r'[^\d.]|(?=(?:.*\.){2,})|^$'
df_plano['charges_total'].str.contains(regex, regex=True).sum()

np.int64(11)

In [16]:
#Se encontraron 11 registros con formatos problem谩ticos, se visualizan para ver si se pueden rescatar.
df_plano.charges_total[df_plano.charges_total.str.contains(regex, regex=True)]

975
1775
1955
2075
2232
2308
2930
3134
3203
4169
5599
Name: charges_total, dtype: object

In [17]:
#Se comprueba que los 11 registros est谩n vac铆os, y se procede con la conversi贸n.
'''
El par谩metro coerce indica que los errores de conversi贸n ser谩n tratados como valore nulos.
'''
df_plano['charges_total'] = pd.to_numeric(df_plano['charges_total'], errors='coerce', downcast='float')
df_plano['charges_total'].dtypes

/tmp/ipython-input-17-2982364039.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_plano['charges_total'] = pd.to_numeric(df_plano['charges_total'], errors='coerce', downcast='float')

dtype('float32')

In [18]:
df_plano.charges_total[df_plano.charges_total.isna()]

975    NaN
1775   NaN
1955   NaN
2075   NaN
2232   NaN
2308   NaN
2930   NaN
3134   NaN
3203   NaN
4169   NaN
5599   NaN
Name: charges_total, dtype: float32

###Estandarizaci贸n y transformaci贸n de datos
- **Se tradujo**: A espa帽ol de las columnas `gender`, `churn`, `InternetService`, `PaymentMethod` y `Contract`.
- **Se cambio el tipo de dato**: A bool de las columnas `SeniorCitizen`, `Partner`, `Dependents`, `PhoneService`, `MultipleLines`, `OnlineSecurity`, `OnlineBackup`, `DeviceProtection`, `TechSupport`,` StreamingTV`, `StreamingMovies` y `PaperlessBilling`.

####Traducci贸n al espa帽ol de columnas

In [19]:
#Se remplazaron los valores de la columna gender por su traducci贸n en espa帽ol.
df_plano['gender'] = df_plano['gender'].apply(lambda x: x.replace('Female','Femenino').replace('Male','Masculino'))
df_plano['gender'].unique()

array(['Femenino', 'Masculino'], dtype=object)

In [20]:
#Se remplazaron los valores de la columna churn por su traducci贸n en espa帽ol.
df_plano['churn'] = df_plano['churn'].apply(lambda x: x.replace('Yes', 'Si'))
df_plano['churn'].unique()

array(['No', 'Si'], dtype=object)

In [21]:
#Se remplazaron los valores de la columna internetservice por su traducci贸n en espa帽ol.
df_plano.internetservice = df_plano.internetservice.apply(lambda x: x.replace('Fiber optic','Fibra 贸ptica'))
df_plano.internetservice.unique()

array(['DSL', 'Fibra 贸ptica', 'No'], dtype=object)

In [22]:
#Se remplazaron los valores de la columna paymentmethod por su traducci贸n en espa帽ol.
df_plano.paymentmethod = df_plano.paymentmethod.apply(lambda x: x.replace('Mailed check','Cheque por correo').
                                                      replace('Electronic check','Cheque electr贸nico').
                                                      replace('Credit card (automatic)','Tarjeta de cr茅dito (autom谩tico)').
                                                      replace('Bank transfer (automatic)','Transferencia bancaria (autom谩tico)'))
df_plano.paymentmethod.unique()

array(['Cheque por correo', 'Cheque electr贸nico',
       'Tarjeta de cr茅dito (autom谩tico)',
       'Transferencia bancaria (autom谩tico)'], dtype=object)

In [23]:
#Se remplazaron los valores de la columna contract por su traducci贸n en espa帽ol.
df_plano.contract = df_plano.contract.apply(lambda x: x.replace('One year','Un a帽o').
                                            replace('Month-to-month', 'Mes a mes').
                                            replace('Two year', 'Dos a帽os'))
df_plano.contract.unique()

array(['Un a帽o', 'Mes a mes', 'Dos a帽os'], dtype=object)

####Tipado de columnas booleanas

In [24]:
#Se convierten los valores de la columna "seniorcitizen".
'''
Se emple贸 el m茅todo .astype porque la columna tiene valores num茅ricos 0 y 1 que
Pandas traduce autom谩ticamente en False y True.
'''
df_plano.seniorcitizen = df_plano.seniorcitizen.astype('bool')
df_plano.seniorcitizen.dtypes

dtype('bool')

In [25]:
#Se convierten los valores de 11 columnas cuyos valores 煤nicos fueron 'yes' y 'no'.
columnas_bool = ['partner', 'dependents', 'phoneservice', 'multiplelines',
                 'onlinesecurity', 'onlinebackup', 'deviceprotection',
                 'techsupport','streamingtv', 'streamingmovies',
                 'paperlessbilling']
df_plano[columnas_bool] = df_plano[columnas_bool].map(lambda x: True if x == 'Yes' else False).astype('bool')
df_plano[columnas_bool].dtypes

partner             bool
dependents          bool
phoneservice        bool
multiplelines       bool
onlinesecurity      bool
onlinebackup        bool
deviceprotection    bool
techsupport         bool
streamingtv         bool
streamingmovies     bool
paperlessbilling    bool
dtype: object

###Columnas de cuentas diarias y servicios contratados

####Columna nueva: Cuenta diaria

In [26]:
#Se calculan los valores de la columna nueva cuenta_diaria.
df_plano['cuenta_diaria'] = df_plano.charges_monthly / 30
df_plano['cuenta_diaria'].dtypes

dtype('float64')

####Columna nueva: Servicios contratados

In [27]:
#Se calculan los valores de la columna nueva servicios_contratados.
'''
Se suma los valores en las columnas del tipo servicio con los valores tipo bool
de una copia temporal de la columna internet.
'''
columnas_servicios = ['phoneservice', 'multiplelines', 'onlinesecurity',
                      'onlinebackup', 'deviceprotection', 'techsupport',
                      'streamingtv', 'streamingmovies']

df_plano['servicios_contratados'] = df_plano[columnas_servicios].sum(axis=1) + df_plano.internetservice.apply(lambda x: True if x in {'DSL', 'Fibra 贸ptica'} else False)
df_plano['servicios_contratados'].dtypes

dtype('int64')

## Carga y an谩lisis

###Carga

In [28]:
#Se asigna la ubicaci贸n donde se descargar谩 el df.
path = '/content/df_plano.json'

#Se exporta el df a un archivo json.
df_plano.to_json(path)

#Se lee el archivo para verificar que se carg贸 correctamente.
df_plano_exp = pd.read_json(path)
df_plano_exp.head(3)

,customerid,churn,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,...,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,charges_monthly,charges_total,cuenta_diaria,servicios_contratados
0,0002-ORFBO,No,Femenino,False,True,True,9,True,False,DSL,...,True,True,False,Un a帽o,True,Cheque por correo,65.6,593.299988,2.186667,5
1,0003-MKNFE,No,Masculino,False,False,False,9,True,True,DSL,...,False,False,True,Mes a mes,False,Cheque por correo,59.9,542.400024,1.996667,4
2,0004-TLHLJ,Si,Masculino,False,False,False,4,True,False,Fibra 贸ptica,...,False,False,False,Mes a mes,True,Cheque electr贸nico,73.9,280.850006,2.463333,3

###An谩lisis descriptivo

In [29]:
df_plano.describe()

,tenure,charges_monthly,charges_total,cuenta_diaria,servicios_contratados
count,7043.000000,7043.000000,7032.000000,7043.000000,7043.000000
mean,32.371149,64.761692,2283.300537,2.158723,4.146244
std,24.559481,30.090047,2266.771729,1.003002,2.312720
min,0.000000,18.250000,18.799999,0.608333,1.000000
25%,9.000000,35.500000,401.450012,1.183333,2.000000
50%,29.000000,70.350000,1397.475098,2.345000,4.000000
75%,55.000000,89.850000,3794.737549,2.995000,6.000000
max,72.000000,118.750000,8684.799805,3.958333,9.000000

###Distribuci贸n de evasi贸n
En esta secci贸n, se defini贸 la funci贸n **`agrupar_prob`** que permite generar dataframes derivados de df_plano donde los 铆ndices son variables de agrupamiento y la columna es la probabilidad de churn. Es as铆 que se emple贸 la **funci贸n** e iteraciones **for** para generar listas de dataframes que agrupan la **probabilidad de evasi贸n** por **variables categ贸ricas** y **variables num茅ricas**.

####Funci贸n **`agrupar_prob`**

In [30]:
def agrupar_prob(data: pd.core.frame.DataFrame, cols: list, col_unstack: str, tag_prob: str, name_prob: str) -> pd.core.frame.DataFrame:
  '''
  Funci贸n que devuelve un dataframe con el c谩lculo de probabilidad de una
  variable categ贸rica por cada valor de una o m谩s columnas del dataframe
  original.

  data: pd.core.frame.DataFrame
    Dataframe con los datos originales.
  cols: list
    Lista con los nombres de las columnas que se agrupar谩n. El 煤ltimo nombre
    debe ser el de la columna que contiene los valores de probabilidad.
    Ejemplo: Si se calcula la probabilidad de churn, el 煤ltimo nombre de la
    lista debe coincidir con el de la columna que contiene las etiquetas de "Si"
    dejo o "No" dejo el cliente la empresa.
  col_unstack: str
    Nombre de la columna que contiene los valores de probabilidad.
    Ejemplo: 'churn'.
  tag_prob: str
    Nombre del valor que se contar谩 para calcular la probabilidad.
    Ejemplo: Si se desea calcular la probabilidad de Churn, entonces se
    escribir谩 'Si'.
  name_prob: str
    Nombre de la probabilidad calculada.
    Ejemplo: 'churn rate'.
  return = percentdf: pd.core.frame.DataFrame
    Dataframe con las probabilidades calculadas por cada valor de las columnas
    de agrupamiento.
  '''
  if cols[-1] == col_unstack:
    '''
    Las variables de agrupamiento se convierten en 铆ndice m煤ltiples de la serie, y
    los valores son la cantidad de registros en cada combinaci贸n de 铆ndices.
    '''
    groupedserie = data.groupby(by=cols).size()
    '''
    Se convierten los valores del 煤ltimo 铆ndice en columnas del dataframe.
    Se completa con cero las celdas donde hay valores NaN.
    '''
    unstackdf = groupedserie.unstack(level=cols[-1], fill_value=0)
    percentdf = (unstackdf[tag_prob]/unstackdf.sum(axis=1))*100
    percentdf.name = name_prob
    return percentdf

  else:
    print(f'Error {cols[-1]}  {col_unstack}. El 煤ltimo elemento de la lista correspondiente al par谩metro "cols" debe ser igual al valor del par谩metro "col_unstack"')

####Listas para el c谩lculo de probabilidad de evasi贸n
Se generaron listas de listas con los nombres de las variables que se usar谩n como **par谩metros de la funci贸n `agrupar_prob`** en el an谩lisis cualitativo y cuantitativo.

In [31]:
'''
Se escriben listas con las columnas que se emplear谩n en el an谩lisis de
probabilidad de Churn seg煤n variables categ贸ricas y num茅ricas.
'''
cols_sociales = ['gender','seniorcitizen','partner','dependents']
cols_negocio = ['paymentmethod','contract','paperlessbilling']
cols_numericas = ['tenure','cuenta_diaria', 'servicios_contratados']

'''
Se crean dos listas vac铆as, la primera contendr谩 listas con el nombre de
columnas cualitativas y la segunda contendr谩n listas con los nombres de
columnas cuantitativas.
'''
listas_cols_cualitativas = []
listas_cols_cuantitativas = []

In [32]:
'''
Mediante un ciclo for, se generan 3 listas cuyo 煤ltimo elemento es el nombre de
la columna 'churn' precedido por el nombre de una variable num茅rica.
'''
for i in range(3):
  lista = ['churn']
  lista.insert(0, cols_numericas[i]) #Se inserta el nombre de la columna num茅rica en la posici贸n inicial de la lista.
  listas_cols_cuantitativas.append(lista) #Se a帽ade la lista a la variables que contendr谩n las listas de columnas cuantitativas.

#Se verificar el contenido de la variable listas_cols_cuantitativas.
listas_cols_cuantitativas

[['tenure', 'churn'],
 ['cuenta_diaria', 'churn'],
 ['servicios_contratados', 'churn']]

In [33]:
'''
Mediante un ciclo for y dos contadores, se generan 12 listas cuyo 煤ltimo
elemento es el nombre d ela columna 'churn' precedidos por variables
categ贸ricas: una variable de tipo 'negocio' y otra de tipo 'social'.
'''
contador1 = 0 #Servir谩 para alterar el primer elemento de la lista.
contador2 = 0 #Servir谩 para alterar el segundo elemento de la lista.
for i in range(15): #Se itera 15 veces, entre 0 y 14, porque se desean 12 listas generadas con el bloque if y se ejecutar谩 3 veces el bloque else.
  if contador1 <4: #El contador asume valores entre 0 y 3, que son los 铆ndices de los elementos en la lista de variables sociales.
    lista = ['churn']
    lista.insert(0, cols_negocio[contador2]) #Se a帽ade la variable de negocio al comienzo de la lista.
    lista.insert(0, cols_sociales[contador1]) #Sobre lo anterior, se a帽ade la variable social al comienzo de la lista.
    listas_cols_cualitativas.append(lista)
    contador1 += 1 #En cada iteraci贸n, mientras el contador 1 sea como m谩ximo 3, se suma 1.
  else:
    contador1 = 0 #Cuando el contador 1 es igual a 4, vuelve a cero. Esto permitir谩 combinar todas las variables sociales con la nueva variable de negocio de la siguiente iteraci贸n.
    contador2 += 1 #Cuando el contador 1 es igual a 4, el contador 2 avanza en 1. Esto cambiar谩 la variable de negocio (segundo elemento de la lista) en la siguiente iteraci贸n.

listas_cols_cualitativas

[['gender', 'paymentmethod', 'churn'],
 ['seniorcitizen', 'paymentmethod', 'churn'],
 ['partner', 'paymentmethod', 'churn'],
 ['dependents', 'paymentmethod', 'churn'],
 ['gender', 'contract', 'churn'],
 ['seniorcitizen', 'contract', 'churn'],
 ['partner', 'contract', 'churn'],
 ['dependents', 'contract', 'churn'],
 ['gender', 'paperlessbilling', 'churn'],
 ['seniorcitizen', 'paperlessbilling', 'churn'],
 ['partner', 'paperlessbilling', 'churn'],
 ['dependents', 'paperlessbilling', 'churn']]

####Dataframes agrupados
Se generaron 12 dataframes que agrupan la probabilidad de evasi贸n por variables categ贸ricas, y 3 dataframes que agrupan la probabilidad de evasi贸n variables num茅ricas.

In [50]:
#Se crearon listas vac铆as para almacenar los dataframes.
df_agrupados_cuali = []
df_agrupados_cuanti = []

In [51]:
#Se a帽adieron los dataframe agrupados por variables cualitativas.
for i in range(len(listas_cols_cualitativas)):
  df = agrupar_prob(df_plano, listas_cols_cualitativas[i], 'churn', 'Si', 'churn_rate')
  df_agrupados_cuali.append(df)

In [54]:
#Se verifica la lista con los dataframes generados.
df_agrupados_cuali

[gender     paymentmethod
 Femenino   Cheque electr贸nico                     44.615385
            Cheque por correo                      19.280206
            Tarjeta de cr茅dito (autom谩tico)        17.420213
            Transferencia bancaria (autom谩tico)    17.258883
 Masculino  Cheque electr贸nico                     45.941423
            Cheque por correo                      18.944844
            Tarjeta de cr茅dito (autom谩tico)        13.116883
            Transferencia bancaria (autom谩tico)    16.137566
 Name: churn_rate, dtype: float64,
 seniorcitizen  paymentmethod
 False          Cheque electr贸nico                     42.574816
                Cheque por correo                      17.391304
                Tarjeta de cr茅dito (autom谩tico)        13.066872
                Transferencia bancaria (autom谩tico)    15.636918
 True           Cheque electr贸nico                     53.367003
                Cheque por correo                      46.808511
                Tarjeta de cr茅dito (autom谩tico)        28.054299
                Transferencia bancaria (autom谩tico)    22.746781
 Name: churn_rate, dtype: float64,
 partner  paymentmethod
 False    Cheque electr贸nico                     50.807636
          Cheque por correo                      23.921971
          Tarjeta de cr茅dito (autom谩tico)        21.107784
          Transferencia bancaria (autom谩tico)    21.036107
 True     Cheque electr贸nico                     37.786640
          Cheque por correo                      11.755486
          Tarjeta de cr茅dito (autom谩tico)        10.655738
          Transferencia bancaria (autom谩tico)    13.671444
 Name: churn_rate, dtype: float64,
 dependents  paymentmethod
 False       Cheque electr贸nico                     48.621421
             Cheque por correo                      23.069590
             Tarjeta de cr茅dito (autom谩tico)        18.965517
             Transferencia bancaria (autom谩tico)    19.466403
 True        Cheque electr贸nico                     32.150313
             Cheque por correo                      11.722913
             Tarjeta de cr茅dito (autom谩tico)         8.395522
             Transferencia bancaria (autom谩tico)    11.466165
 Name: churn_rate, dtype: float64,
 gender     contract
 Femenino   Dos a帽os      2.603550
            Mes a mes    43.740260
            Un a帽o       10.445682
 Masculino  Dos a帽os      3.058824
            Mes a mes    41.692308
            Un a帽o       12.052980
 Name: churn_rate, dtype: float64,
 seniorcitizen  contract
 False          Dos a帽os      2.709677
                Mes a mes    39.569752
                Un a帽o       10.678098
 True           Dos a帽os      4.137931
                Mes a mes    54.646840
                Un a帽o       15.263158
 Name: churn_rate, dtype: float64,
 partner  contract
 False    Dos a帽os      3.379722
          Mes a mes    44.689379
          Un a帽o       10.575428
 True     Dos a帽os      2.600671
          Mes a mes    39.130435
          Un a帽o       11.807229
 Name: churn_rate, dtype: float64,
 dependents  contract
 False       Dos a帽os      3.314917
             Mes a mes    45.236552
             Un a帽o       12.420382
 True        Dos a帽os      2.278481
             Mes a mes    32.826362
             Un a帽o        9.227872
 Name: churn_rate, dtype: float64,
 gender     paperlessbilling
 Femenino   False               17.118402
            True                33.509108
 Masculino  False               15.578231
            True                33.621103
 Name: churn_rate, dtype: float64,
 seniorcitizen  paperlessbilling
 False          False               15.003837
                True                30.409712
 True           False               29.323308
                True                45.433790
 Name: churn_rate, dtype: float64,
 partner  paperlessbilling
 False    False               21.041809
          True                40.925756
 True     False               11.464968
          True                25.490196
 Name: churn_rate, dtype: float64,
 dependents  paperlessbilling
 False       False               19.673025
             True                38.153648
 True        False               10.414658
             True                20.316869
 Name: churn_rate, dtype: float64]

In [55]:
#Se a帽adieron los dataframe agrupados por variables cuantitativas.
for i in range(len(listas_cols_cuantitativas)):
  df = agrupar_prob(df_plano, listas_cols_cuantitativas[i], 'churn', 'Si', 'churn_rate')
  df_agrupados_cuanti.append(df)

In [56]:
#Se verifica la lista con los dataframes generados.
df_agrupados_cuanti

[tenure
 0      0.000000
 1     61.990212
 2     51.680672
 3     47.000000
 4     47.159091
         ...
 68     9.000000
 69     8.421053
 70     9.243697
 71     3.529412
 72     1.657459
 Name: churn_rate, Length: 73, dtype: float64,
 cuenta_diaria
 0.608333      0.0
 0.613333      0.0
 0.618333      0.0
 0.623333      0.0
 0.625000      0.0
             ...
 3.940000      0.0
 3.945000    100.0
 3.953333      0.0
 3.955000      0.0
 3.958333      0.0
 Name: churn_rate, Length: 1585, dtype: float64,
 servicios_contratados
 1    10.917722
 2    30.966240
 3    44.917258
 4    36.476684
 5    31.344902
 6    25.550661
 7    22.485207
 8    12.405063
 9     5.288462
 Name: churn_rate, dtype: float64]

###Recuento de evasi贸n por categor铆a

####Gr谩ficos de barras con Matplotly

####Gr谩ficos de puntos con [Seaborn](https://seaborn.pydata.org/tutorial/categorical.html)
Se realizaron gr谩ficos de puntos para las **variables de negocio** `PaymentMethod`, `Contract` y `PaperlessBilling` en combinaci贸n con las **variables demogr谩ficas** `gender`, `SeniorCitizen`, `Partner` y `Dependents`.

#####Gr谩ficos de la variable Gender

#####Gr谩ficos de la variable SeniorCitizen

#####Gr谩ficos de la variable Partner

#####Gr谩ficos de la variable Dependents

###Conteo de evasi贸n por variable num茅rica

####Gr谩ficos de cajas y bigotes con Plotly

####Gr谩ficos de l铆neas con Plotly
Se realizaron gr谩ficos de lineas de la `probabilidad churn` en funci贸n de **variables num茅ricas** como `tenure`, `cuenta_diaria` y `servicios_contratados`.

#####Gr谩fico de la variable tenure

#####Gr谩fico de la variable cuenta_diaria

#####Gr谩fico de la variable servicios_contratados

###Gr谩ficos de dispersi贸n y correlaci贸n

####Correlaci贸n entre % Churn y Tenure

####Correlaci贸n entre % Churn y Cuenta diaria

####Correlaci贸n entre % Churn y Cantidad de servicios contratados

##Informe final